{% extends 'base.html' %} 
{% load static %}

{% block title %} | DC Kenol Team {% endblock %}

{% block content %}

    <!-- Navbar -->
    {% include 'partials/_navbar2.html' %}

    <div class="w3-container">
        <h2>The Pastoral Team</h2>
        <div class="row">
            {% for leader in leader %} 
            {% if leader.is_pastor %}
            <div class="w3-card-4 m-4">
            <img src="{{leader.image.url}}" alt="image" style="width: 22rem; height: 18rem;">
            <div class="w3-container w3-center w3-blue">
                <br>
                <p>{{leader.name}}</p>
                <p>{{leader.title}}</p>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <h2>DC Kenol Leaders</h2>
        <div class="row">
            {% for leader in leader %} 
            {% if leader.is_leader %}
            <div class="w3-card-4 m-4">
            <img src="{{leader.image.url}}" alt="image" style="width:22rem; height: 18rem;">
            <div class="w3-container w3-center w3-blue">
                <br>
                <p>{{leader.name}}</p>
                <p>{{leader.title}}</p>
            </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

{% endblock %}

