 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>DC KENOL</h3>
            <p>
              A108 Adam Street <br>
              NY 535022, USA<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Weekly Services</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Sunday Services</h4>
            <ul>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="fa fa-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DEV_EL</span></strong>. All Rights Reserved
        <a href="#" class="w3-blue w3-opacity" style="float: right; font-size: large; border-radius: 50%;"><i class="fa fa-level-up mt-2 mb-2 ml-3 mr-3"></i></a>
      </div>
  </footer>
  <!-- End Footer -->


