{% load static %}

<!-- <div>
  <div class="tm-row">
      <div class="tm-col-left"></div>
      <main class="tm-col-right">
        <section class="tm-content">
          {% for slide in slide %}
          <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
            <img src="{{slide.image.url }}" alt="Image" class="tm-service-img">
            <div class="media-body tm-service-text">
                <h2 class="mb-4 tm-content-title">{{ slide.title }}</h2>
                <p>{{slide.description}}</p>
            </div> 
          </div>
          {% endfor %}
        </section>
      </main>
  </div>
</div> -->


<div class="banner">
  <div class="row">
    <div class="col-sm-5">
      <div class="content">
        <h2>Welcome to Deliverance Church Kenol</h2>
        <p>A place for everyone</p>
      </div>
    </div>
    <div class="col-sm-6 slide-col w3-opacity">
      <div class="slide">
        {% for slide in slide %}
          <div class="slide-content">
            <img src="{{slide.image.url }}" alt="Image" class="tm-service-img">
            <div class="media-body tm-service-text">
                <h2 class="content-title">{{ slide.title }}</h2>
                <p>{{slide.description}}</p>
            </div> 
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
  
</div>
