{% extends 'base.html' %} 
{% load static %}

{% block title %} | Home {% endblock %}

{% block content %}


  <!-- ======= Hero Section ======= -->
            {% include 'partials/_header.html' %}
  <!-- ====== End Hero Section ====== -->

  
  <div class="mb-2" style="text-decoration: none;">
    {% include 'partials/events/_event.html' %}    
</div>

  <main id="main">
      <!-- About Section -->
      {% include 'partials/about/_about.html' %}
  </main>
    
    {% include 'partials/about/_team.html' %}

    {% include 'partials/sermons/_sermon.html' %}    

    {% include 'partials/contacts/_contact.html' %}

    {% include 'partials/_footer.html' %}

{% endblock %}