<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact Us</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex align-items-stretch animate__animated animate__fadeInUp">
          <div class="info-box">
            <i class="fa fa-map"></i>
            <h3>Our Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch animate__animated animate__fadeInUp">
          <div class="info-box">
            <i class="fa fa-envelope"></i>
            <h3>Email Us</h3>
            <p>info@example.com<br>contact@example.com</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch animate__animated animate__fadeInUp">
          <div class="info-box ">
            <i class="fa fa-phone"></i>
            <h3>Call Us</h3>
            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
          </div>
        </div>

      </div>
      <br>
      <a href="{% url 'contact-us' %}" class="btn btn-sm btn-block btn-outline-primary animate__animated animate__fadeInUp">Send Us A Message</a>

    </div>
  </section><!-- End Contact Us Section -->

</main><!-- End #main -->
